#Ho {
    background-color: firebrick;
    text-align: center;
}


#test1 {
    row-gap: 12;
}

#st {
    border-color: black;
    border-style: solid;
    text-align: center;
    height:7cm;
    margin-left: 2.3cm;
    width: 10cm;
}

#mit {
    border-color: black;
    border-style: solid;
    text-align: center;
    height:7cm;
    margin-left: 2.3cm;
    width: 10cm;
}

#gift {
    border-color: black;
    border-style: solid;
    text-align: center;
    height:6cm;
    width: 7cm;
}

#lebensraum {
    border-color: black;
    border-style: solid;
    text-align: center;
    height:6cm;
    width: 7cm;
}

#groesse {
    border-color: black;
    border-style: solid;
    text-align: center;
    height:6cm;
    width: 7cm;
}